<next-header
  [env]="env"
  [projectName]="projectName"
  [description]="description"
  (projectNameClickEmitter)="onProjectNameClick()"
>
  <div help-slot>
    <button
      class="next-header__button fa fa-th"
      id="next-header-menu"
      title="Menu"
      (click)="onMenuClick()"
    ></button>
    <button
      class="next-header__button fa fa-bell"
      id="next-header-notifications"
      title="Notifications"
      (click)="onBellClick()"
    ></button>
    <button
      class="next-header__button fa fa-question"
      id="next-header-help"
      title="Help"
      (click)="onQuestionClick()"
    ></button>
  </div>
  <div user-name-slot>
    <a class="next-header__user-name" href="/">Vasia Petrov</a>
  </div>
  <div logout-slot>
    <button
      class="next-header__button fa fa-sign-out"
      id="next-header-logout"
      title="Logout"
      (click)="onLogoutClick()"
    ></button>
  </div>
</next-header>
