<next-header
  [env]="env"
  [projectName]="projectName"
  [description]="description"
  (projectNameClickEmitter)="onProjectNameClick()"
>
  <div slot-help>
    <button class="next-header__button next-header__help" id="next-header-logout" (click)="logout.emit()" *ngIf="showLogout">
      <svg icon="next-help-icon"></svg>
      Help
    </button>
  </div>
  <div slot-user-name>
    <a class="header-user-name" href="/">Vasia Petrov</a>
  </div>
  <div slot-logout>
    <button class="next-header__button next-header__logout" id="next-header-logout" (click)="logout.emit()" *ngIf="showLogout">
      <svg icon="next-logout-icon"></svg>
      Logout
    </button>
  </div>
</next-header>
