<next-header
  [env]="env"
  [projectName]="projectName"
  [description]="description"
  (projectNameClickEmitter)="onProjectNameClick()"
>
  <div slot-help>
    <button
      class="next-header__button fa fa-th"
      id="next-header-logout"
      title="Menu"
      (click)="onMenuClick()"
    ></button>
    <button
      class="next-header__button fa fa-bell"
      id="next-header-logout"
      title="Notifications"
      (click)="onBellClick()"
    ></button>
    <button
      class="next-header__button fa fa-question"
      id="next-header-logout"
      title="Help"
      (click)="onQuestionClick()"
    ></button>
  </div>
  <div slot-user-name>
    <a class="next-header__user-name" href="/">Vasia Petrov</a>
  </div>
  <div slot-logout>
    <!--class="next-header__logout"-->
    <button
      class="next-header__button fa fa-sign-out"
      id="next-header-logout"
      title="Logout"
      (click)="onLogoutClick()"
    ></button>
  </div>
</next-header>
