$white: #fff;
$blue-light: #5291dd;
$blue: #0460a9;
$next-header-height: 36px;

.next-header {
  &__user-name {
    color: $white;
    display: inline-block;
    font-size: 14px;
    margin: 0 1.2rem; // margin: 0 0 0 1.2rem
    text-decoration: none;
    vertical-align: middle;
  }

  &__button {
    -webkit-appearance: none;
    align-items: center;
    background: none;
    background-color: transparent;
    background-image: none;
    border: 0;
    border-radius: 0;
    color: $white;
    cursor: pointer;
    display: flex;
    font-size: 0;
    height: $next-header-height;
    justify-content: center;
    margin: 0;
    margin-top: -.6rem;
    padding: 0;
    width: $next-header-height;
  }

  &__button:hover, &__button:active, &__button:focus {
    background-color: $white;
    color: $blue;
  }

  /* &__logout {
    margin-left: 1.2rem;
  } */
}
